
.solarAnalysisCard{
    background-color: blue;
    color: aliceblue;
    height: 200px;
    width: 350px;
    position: absolute;
    left: 1rem;
    top: 1rem;
    border-radius: 8px;
    padding: 8px;
}