.inputField {
  display: grid;
  align-items: center;
  position: relative;

  & > * {
    grid-column: 1;
    grid-row: 1;
    font-family: "Roboto";
    color: black;
  }

  & input {
    position: relative;
    border: 1.5px solid #b4a5a5;
    border-radius: 0.25rem;
    outline: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.897);
    padding: 1rem;
    z-index: 0;
    transition: border-color 0.5s;

    &:focus {
      border-color: rgb(84, 84, 193);
      border-width: 2px;
    }

    &:focus ~ span,
    &:not(:placeholder-shown) ~ span {
      transform: translateY(-1.7rem) scale(0.75);
      padding: 0 0.25rem;
      color: rgba(71, 67, 67, 0.897);
      font-size: 17px;
    }
  }

  & span {
    width: max-content;
    background-color: #fff;
    margin-left: 1rem;
    color: rgba(141, 134, 134, 0.897);
    transition: transform 0.5s;
  }

  & em{
    right: 1rem;
    position: absolute;
    color: #5b5a5c;
    font-family: 'Roboto';
    font-style: normal;
  }

  & strong {
    position: absolute;
    left: 11px;
    color: #5b5a5c;
  }
}

input[data-surffix="watts"] {
  padding-right: 3.7rem;
}
input[data-icon="icon_true"]{
  padding-left: 1.5rem !important;
}
input[data-percentage="percentage"]{
  padding-right: 26px;
}